:root {
    --Background-Color: #009fcf;
    --Section-Color: #515adf;
    --Third-Color: #203144;
    --Text-Color: #FFFFFF;
    --Border-Color: #9E9E9E;
    --Text-Hover-Color: #fa98ce;
    --Username-Color: #ffffff;
    --Subdued-Text-Color: #bdc3c7;
    --Forum-Reply-Color: #34495e;
    --Forum-Reply-Header-Color: #95a5a6;
    --Link-Color: #faf6bc;
}
